In [1]:
import os
import struct
import numpy as np
import pandas as pd

### reference
   - [stackoverflow](https://stackoverflow.com/questions/16444726/binary-representation-of-float-in-python-bits-not-hex)
   - [struct 라이브러리](https://docs.python.org/3/library/struct.html#format-strings)

In [2]:
def binary(num,big_endian=True, bit_16=True):
    # big_endian : True 이면, big_endian format으로 출력, 아니면 little_endian format으로 출력
    # bit_16 : True 이면, 16bit float으로 출력, 아니면 32bit float으로 출력
    endian_format = ">" if big_endian else '<'
    bit_format = "e" if bit_16 else 'f'
    num_format = endian_format + bit_format
    struct.pack(num_format, num)
    return ''.join(bin(c).replace('0b', '').rjust(8, '0') for c in struct.pack(num_format, num)[::-1])

| float 16| sign(1) | expo(5) | remain(10) |
|---------|---------|---------|------------|
| float 32| sign(1) | expo(8) | remain(23) |

### tb_convert에 이용되는 테스트 데이터셋

In [4]:
# 16bit - Big Endian value list
with open("../input/tb_convert_16be.txt",'w') as f:
    for i in range(-10,10):
        value = (1+2**(-3)+2**(-2)) * 2**(i)
        line = (binary(value,big_endian=True,bit_16=True))+'0'*16 + '\n'
        f.write(line)
        
# 16bit - Big Endian & 32bit - little Endian
df = pd.DataFrame(columns=['value','16bit-BigEndian	','32bit-LittleEndian'])
for i in range(-10,10):
    value = (1+2**(-3)+2**(-2)) * 2**(i)
    be_16 = (binary(value,big_endian=True,bit_16=True))+'0'*16
    le_32 = binary(value,big_endian=False,bit_16=False)
    df = df.append({'value':value, "16bit-BigEndian":be_16,"32bit-LittleEndian":le_32},ignore_index=True)
df.to_csv("../answer/tb_convert_16be_answer.csv",index=False,float_format="%3.13f")

In [5]:
df

,value,16-be,32-le,16bit-BigEndian,32bit-LittleEndian
0,0.001343,NaN,NaN,10000000000101010000000000000000,00111010101100000000000000000000
1,0.002686,NaN,NaN,10000000000110010000000000000000,00111011001100000000000000000000
2,0.005371,NaN,NaN,10000000000111010000000000000000,00111011101100000000000000000000
3,0.010742,NaN,NaN,10000000001000010000000000000000,00111100001100000000000000000000
4,0.021484,NaN,NaN,10000000001001010000000000000000,00111100101100000000000000000000
5,0.042969,NaN,NaN,10000000001010010000000000000000,00111101001100000000000000000000
6,0.085938,NaN,NaN,10000000001011010000000000000000,00111101101100000000000000000000
7,0.171875,NaN,NaN,10000000001100010000000000000000,00111110001100000000000000000000
8,0.343750,NaN,NaN,10000000001101010000000000000000,00111110101100000000000000000000
9,0.687500,NaN,NaN,10000000001110010000000000000000,00111111001100000000000000000000
10,1.375000,NaN,NaN,10000000001111010000000000000000,00111111101100000000000000000000
11,2.750000,NaN,NaN,10000000010000010000000000000000,01000000001100000000000000000000
12,5.500000,NaN,NaN,10000000010001010000000000000000,01000000101100000000000000000000
13,11.000000,NaN,NaN,10000000010010010000000000000000,01000001001100000000000000000000
14,22.000000,NaN,NaN,10000000010011010000000000000000,01000001101100000000000000000000
15,44.000000,NaN,NaN,10000000010100010000000000000000,01000010001100000000000000000000
16,88.000000,NaN,NaN,10000000010101010000000000000000,01000010101100000000000000000000
17,176.000000,NaN,NaN,10000000010110010000000000000000,01000011001100000000000000000000
18,352.000000,NaN,NaN,10000000010111010000000000000000,01000011101100000000000000000000
19,704.000000,NaN,NaN,10000000011000010000000000000000,01000100001100000000000000000000